html {background-color: #2980b9;font-size: 1em;color:white;}
.content {width:90%;margin:0 auto;}
ul {padding-left: 10px;}
ul li {list-style: none;line-height: 2em;}
.content p i {font-size: 1em;color:red;}
.weather {
	position: fixed;
	bottom:2em;
}