/*introduction*/
@media(min-width:1920px) {
	.nav-toTop ul li[class=label] {
		margin-top: -2.5%;
	}
	nav a {
		font-size: 50px;
	}
	.page1 p {
		font-size: 50px;
		line-height: 110px;
	}
	.page2 li span, .page2 li i {
		font-size: 50px;
		line-height: 110px;
	}
	.page3 .content {
		font-size: 1.5em;
		margin-top: -14%;
	}
	.page3 .left:hover div:last-child {
		transform: translateY(-78%);
	}
	.page3 h1 {
		font-size: 45px;
	}
	.page3 .content span {
		margin: 2em;
	}
	.page3 .content span:first-child {
		font-size: 2em;
	}
	.page3 .right .content span:first-child {
		font-size: 1.5em;
		margin: 0.4em 0 1em 1em;
	}
	.page3 .right .content span {
		margin: 0.5em;
	}
	.page4 h1, .page5 h1 {
		font-size: 50px;
	}
	.page4 ul li {
		font-size: 30px;
		line-height: 70px;
	}
	.page5 h2 {
		font-size: 40px;
	}
	.page5 ul li {
		font-size: 30px;
		line-height: 70px;
	}
}

/*4k screen*/
@media(min-width:2560px) {
	.nav-toTop ul li[class=label] {
		margin-top: -2%;
	}
	.page3 .content {
		margin-top: -11%;
	}
	.page3 .left:hover div:last-child {
		transform: translateY(-83%);
	}
	.page3 .right .content {
		margin-top: -12%;
	}
	.page3 .right .item:hover .cont1 {
		transform: translateY(-76%);
	}
	.page3 .right .item:hover .cont2 {
		transform: translateY(-77.5%);
	}
}
@media(max-width:1920px) and (min-width:1600px) {
	.nav-toTop ul li[class=label] {
		margin-top: -2.2%;
	}
	.page3 .right .content span:first-child {
		margin: 0.4em 0 1em 1em;
	}
	.page3 .content {
		margin-top: -11%;
	}
	.page3 .left:hover div:last-child {
		transform: translateY(-83%);
	}
	.page3 .right .content {
		margin-top: -17%;
	}
	.page3 .right .item:hover .cont1 {
		transform: translateY(-68%);
	}
	.page3 .right .item:hover .cont2 {
		transform: translateY(-68%);
	}
}
@media(max-width:1600px) and (min-width:1366px) {
	.nav-toTop ul li[class=label] {
		margin-top: -2.5%;
	}
	.page3 .right .content span:first-child {
		font-size: 1em;
		margin: 0.4em 0 1em 1em;
	}
	.page3 .content {
		margin-top: -13%;
	}
	.page3 .left:hover div:last-child {
		transform: translateY(-80%);
	}
	.page3 .right .content {
		margin-top: -14%;
	}
	.page3 .right .item:hover .cont1 {
		transform: translateY(-73%);
	}
	.page3 .right .item:hover .cont2 {
		transform: translateY(-74%);
	}
}
@media(max-width:1366px) {
	.nav-toTop ul li[class=label] {
		margin-top: -3%;
	}
	.page3 .right .content span:first-child {
		font-size: 1.5em;
		margin: 0.4em 0 1em 1em;
	}	
	.page3 .content {
		margin-top: -14%;
	}
	.page3 .left:hover div:last-child {
		transform: translateY(-78%);
	}
	.page3 .right .content {
		margin-top: -11%;
	}
	.page3 .right .item:hover .cont1 {
		transform: translateY(-78%);
	}
	.page3 .right .item:hover .cont2 {
		transform: translateY(-79.5%);
	}
	.page3 .right .content {
		padding: 0;
		font-size: 10px;
	}
	.page3 .right .content .text li {
		line-height: 16px;
	}
}
@media(max-width:1100px) {
	.nav-toTop ul li[class=label] {
		margin-top: -4%;
	}
	.page3 .content {
		font-size: 10px;
		padding: 15px;
	}
	.page3 .content li {
		line-height: 20px;
	}
	.page3 .content span {
		margin: 0.5em 2em;
	}
	.page3 .content span:first-child {
		font-size: 17px;
	}
	.page3 .right .content span:first-child {
		font-size: 12px;
	}
	.page3 .right .content .text {
		display: none;
	}
	.page3 .right .content span:first-child {
		font-size: 15px;
		margin: 0.4em 0 1em 1em;
	}
}
@media(max-width:900px) {
	.page5 ul li:last-child {
		display: none;
	}
	.page3 .wrap {
		width: 65%;
	}
	.page3 .left {
		width: 100%;
		height: 40%;
	}
	.page3 .right {
		width: 100%;
	}
	.page3 .right li {
		width: 45%;
		margin-bottom: 0;
	}
	.page3 .right li:first-child {
		float: left;
		margin-right: 1em;
	}
	.page3 .right li:last-child {
		float: right;
		margin-left: 1em;
	}
	.page3 .content {
		margin-top: -46%;
	}
	.page3 .left:hover div:last-child {
		transform: translateY(-62%);
	}
	.page3 .content .text {
		display: none;
	}
	.page2 ul {
		left: 10%;
	}
	.page1 p {
		font-size: 22px;
		line-height: 41px;
	}
	.page1 div {
		height: 145px;
	}
	.page4 div:first-child {
		top: 130px;
	}
}
@media(max-width: 800px) {
	.page3 .content {
		display: none;
	}
	.page2 .wrap li {
		font-size: 20px;
		line-height: 40px;
	}
	.page2 ul {
		left:20%;
	}
}
@media(max-width: 700px) {
	.page2 li span,.page2 li i {
		opacity: 1;
	}
	.nav-bg-effect {
		display: none !important;
	}
	.header .nav .label {
		display: none;
	}
	.nav a {
		padding: 25px 0;
	}
	.toHome img {
		width:60px;
	}
	.nav li {
		position: fixed;
		width: 60px;
	}
	.toHome,.toHome span {
		width:60px;
		height: 60px;
	}
	.page1 p {
		font-size: 20px;
	}
	.page .wrap {
		width:80%;
	}
	.page2 li i {
		font-size: 20px;
	}
	.page2 li span {
		font-size: 15px;
	}
	.page4 ul li {
	    font-size: 15px;
	    line-height: 25px;
	}
	.page4 div:first-child {
		top:110px;
	}
	.page3 .item {
		box-shadow: none;
	}
	.page3 img {
		opacity: 0;
	}
	.page3 .content {
		display: block;
	}
	.page3 .left div:last-child {
		transform: translateY(-62%);
	}
	.page3 .right .item .cont1 {
    	transform: translateY(-78%);
	}
	.page3 .right .item .cont2 {
	    transform: translateY(-79.5%);
	}
	.page3 .content {
    	margin-top: -35%;
	}
	.page3 h1 {
		margin-bottom: 10px;
	}
	.page3 .right .cont1 span:nth-child(2) {
		display:none;
	}
	.page3 .right .cont1 span:nth-child(4) {
		display:none;
	}
	.page3 .right .cont2 span:nth-child(2) {
		display:none;
	}
	.page3 .right .cont2 span:nth-child(4) {
		display:none;
	}
}
@media(max-width: 510px) {
	.page2 ul {
		left:0;
	}
	.page .wrap {
		width:95%;
	}
	.page3 .content span:first-child{
		margin:0.5em;
	}
	.page3 .right .content span:first-child {
		margin:0.4em;
		font-size: 10px;
	}
	.page3 .right .content span {
		margin-left: 0.5em;
	}
}